.button {
    padding: 0 10px;
    box-sizing: border-box;
    min-width: 100px;
    background: #b5cd34;
    border: 0;
    border-radius: 3px;
    color: #151e28;
    font: 100 ;
    text-transform: uppercase;
    font: 100 18px/36px Arial, 'Helvetica Neue', Helvetica, sans-serif;
    transition: background .2s linear;
}

.button:disabled {
    background: #363d46;
}

.button + .button {
    margin-left: 10px;
}
