@import url(normalize.css);

html {
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #151e28;
}

body {
    margin: 0;
    padding: 0;
    font: 100 18px/36px Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.app {
    position: relative;
    margin: 18px 20px;
    padding: 0;
}

/* @mod with-popup */
.app__content {
    min-width: 280px;
    max-width: 700px;
    margin: 0 auto;
    transition: all .25s linear;
}
.app_with-popup .app__content {
    transform: scale(.8);
    filter: blur(10px);
}

/* @elem message */
.app__message {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

/* @elem message-content */
.app__message-content {
    text-align: center;
}
