.app {
    margin: 18px 20px;
    padding: 0;
}

.app__title {
    margin: 0 0 36px 46px;
    font: 100 27px/36px Arial;
}

/* @mod with-popup */
.app__content {
    transition: all .25s linear;
}
.app_with-popup .app__content {
    /* @todo remove this hard code */
    transform: scale(.8);
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
