.popup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.popup__cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: #000;
    opacity: .3;
}

.popup__box {
    position: relative;
    z-index: 150;
}
