.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.popup__cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: #fff;
    opacity: .3;
}

.popup__box {
    position: relative;
    z-index: 150;
    max-width: 500px;
    margin: 0 auto;
}

/* @mod action-enter */
.popup__action-enter .popup__box {
    transform: scale(1.5);
    filter: blur(10px);
    opacity: .01;
}

/* @mod action-enter-active */
.popup__action-enter-active .popup__box {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
    transition: all .25s linear;
}

/* @mod action-leave */
.popup__action-leave .popup__box {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
}

/* @mod action-leave-active */
.popup__action-leave-active .popup__box {
    transform: scale(1.5);
    filter: blur(10px);
    opacity: 0;
    transition: all .25s linear;
}
