.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.popup__cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: #fff;
    opacity: .3;
}

.popup__box {
    position: relative;
    z-index: 150;
    max-width: 500px;
    margin: 0 auto;
    transition: all .25s linear;
    transform: scale(1.5);
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

/* @mod mounted */
.popup_mounted .popup__box {
    transform: scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
}
