@import '../node_modules/normalize.css/normalize.css';

html {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    margin: 0;
    padding: 18px 20px;
}

.board {
    max-width: 300px;
    margin: 0 auto;
}
.board__row {
    display: flex;
}
.board__cell {
    flex: 1 1 auto;
    box-sizing: border-box;
    border: 1px solid #333;
}
.board__row:first-child .board__cell {
    border-top: 0;
}
.board__row:last-child .board__cell {
    border-bottom: 0;
}
.board__cell:first-child {
    border-left: 0;
}
.board__cell:last-child {
    border-right: 0;
}
.board__cell::before {
    display: block;
    padding-top: 100%;
    content: '';
}
.board__cell_value_x::before {
    background: #490;
}
.board__cell_value_o::before {
    background: #f30;
}

.score {
    margin: 0 0 18px;
    text-align: center;
}

.text__h1 {
    margin: 0 0 18px;
    font: 100 24px/36px Arial;
}

.popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 500;
}
.popup-container::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    opacity: .5;
    content: '';
}

.popup {
    max-width: 300px;
    position: relative;
    z-index: 501;
}
