html,
body {
    margin: 0;
    padding: 0;
}

.game {
    display: flex;
    padding: 18px 10px;
}

.board {
    width: 300px;
    max-width: 300px;
    margin: 0 auto;
    padding: 2px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2), 0 0 10px rgba(0, 0, 0, .15);
}
.board__row {
    display: flex;
}
.board__cell {
    flex: 1 1 auto;
    box-sizing: border-box;
    border: 1px solid transparent;
}
.board__cell::before {
    display: block;
    padding-top: 100%;
    background: #f0f0f0;
    content: '';
}
.board__cell_checked::before {
    background: red;
}
