/* @elem control */
.settings__control {
    height: 40px;
    padding: 0 0 0 50px;
    background: transparent url(blocks/settings/settings__control.svg) 0 50% no-repeat;
    border: 0;
    font: 100 18px/36px Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #fff;
}
@media screen and (max-width: 400px) {
    .settings__control {
        padding-left: 40px;
    }
}
.settings__control:active,
.settings__control:hover {
    background-image: url(blocks/settings/settings__control-hover.svg);
    outline: 0;
    color: #b5cc32;
}
.settings__control:focus {
    outline: 0;
}

/* @elem control-label */
.settings__control-label {
    display: inline-block;
}
@media screen and (max-width: 400px) {
    .settings__control-label {
        display: none;
    }
}

/* @elem items */
.settings__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* @elem item */
.settings__item {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}
.settings__item::after {
    position: absolute;
    right: 15%;
    bottom: 0;
    left: 15%;
    height: 1px;
    background: #5b6168;
    content: '';
}
.settings__item:last-child::after {
    content: none;
}

/* @elem item-button */
.settings__item-button {
    margin: 9px 0;
    padding: 0;
    background: transparent;
    border: 0;
    color: #b5cc32;
    font: 100 24px/36px Arial, 'Helvetica Neue', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.settings__item-button:active,
.settings__item-button:hover {
    color: #e04e48;
}
.settings__item-button:focus {
    outline: 0;
}

/* @elem field */
.settings__field {
    display: flex;
    margin-bottom: 18px;
    position: relative;
}

/* @elem controls-field */
.settings__controls-field {
    margin-top: 45px;
}

/* @elem label */
.settings__label {
    flex: 1 0 auto;
    color: #fff;
    font-size: 24px;
}

/* @elem sub-label */
.settings__sub-label {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: .33;
    font-size: 14px;
    line-height: 18px;
}
