.board {
    max-width: 500px;
    margin: 0 auto 18px;
    background: rgba(255, 255, 255, .02);
}

/* @elem row */
.board__row {
    display: flex;
}

/* @elem cell */
.board__cell {
    position: relative;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, .1);
    background-size: 0;
    transition: background-size .2s cubic-bezier(.58, .19, .8, 1.6);
}

/* @elem cell-spacer */
.board__cell-spacer {
    display: block;
    padding-top: 100%;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

/* Vertical grid */
.board__cell::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background: #fff;
    content: '';
}
.board__cell:last-child::before {
    content: none;
}
.board__cell:last-child .board__cell-spacer {
    border-right: 0;
}
.board__row:first-child .board__cell::before {
    top: -5px;
}
.board__row:last-child .board__cell::before {
    bottom: -5px;
}

/* Horizontal grid */
.board__cell::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    background: #fff;
    content: '';
}
.board__row:last-child .board__cell::after {
    content: none;
}
.board__row:last-child .board__cell-spacer {
    border-bottom: 0;
}
.board__cell:first-child::after {
    left: -5px;
}
.board__cell:last-child::after {
    right: -5px;
}

/* @elem cell @mod clickable */
.board__cell_clickable {
    cursor: pointer;
    background-color: transparent;
}

/* @elem cell @mod type=x */
.board__cell_type_x {
    background: url(blocks/board/board__cell_type_x.svg) 50% 50% no-repeat;
    background-size: 100%;
}
/* @elem cell @mod type=o */
.board__cell_type_o {
    background: url(blocks/board/board__cell_type_o.svg) 50% 50% no-repeat;
    background-size: 100%;
}
