.board {
    max-width: 500px;
    margin: 0 auto 18px;
}

/* @elem row */
.board__row {
    display: flex;
}

/* @elem cell */
.board__cell {
    flex-grow: 1;
    background: #f2f2f2;
}
.board__cell::before {
    display: block;
    padding-top: 100%;
    border: 1px solid #444;
    content: '';
}
.board__cell:first-child::before {
    border-left-color: transparent;
}
.board__cell:last-child::before {
    border-right-color: transparent;
}
.board__row:first-child .board__cell::before {
    border-top-color: transparent;
}
.board__row:last-child .board__cell::before {
    border-bottom-color: transparent;
}

/* @elem cell; @mod clickable */
.board__cell_clickable {
    cursor: pointer;
    background: transparent;
}

/* @elem cell; @mod type */
.board__cell_type_x {
    background: green;
}
.board__cell_type_o {
    background: red;
}
