.score {
    margin: 0 0 36px;
    clear: both;
    color: #fff;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
}

/**
 * @elem wins
 * @elem defeats
 */
.score__wins,
.score__defeats {
    display: inline-block;
}

.score__wins::before,
.score__defeats::after {
    display: inline-block;
    width: 34px;
    height: 36px;
    vertical-align: bottom;
    content: '';
}

.score__wins::before {
    margin-right: 30px;
    background: url(blocks/score/score__wins.svg) 50% 50% no-repeat;
}

.score__defeats::after {
    margin-left: 30px;
    background: url(blocks/score/score__defeats.svg) 50% 50% no-repeat;
}

/* @emel delimiter */
.score__delimiter {
    margin: 0 10px;
}
